html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #ff0000, blueviolet);
    background-repeat: none;
    color: #333;
    text-align: center;
}


button {
    padding: 12px 20px;
    border-radius: 12px;
    border: none;
    background: white;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.15);
    cursor: pointer;
    font-size: 1rem;
    margin: 5px;
}

button:active {
    transform: scale(1.1);
    box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
}

#codes {
    border-radius: 10px;
    padding: 10px;
    border: 0;
    text-align: center;
    margin: 5px;
}

footer {
    color: red;
    font-size: 0.7rem;
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
}

#petmsg {
    background: linear-gradient(135deg, #ff0000, #00ff00, #0000ff, #ff00ff);
    background-size: 400% 400%;
    animation: animarGradiente 2.5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes animarGradiente {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

